.header {
  width: 100%;
  height: 70px;
  padding: 15px 30px;
  border-bottom: 1px solid #eee;

  &::after {
    content: '';
    display: block;
    clear: both;
  }

  h1 {
    float: left;
    margin: 0;
    line-height: 40px;
    font-size: 18px;
  }

  .btn-area {
    float: right;
  }
}