.button {
  display: inline-block;
  height: 60px;
  width: 100%;
  font-size: 18px;
  border: 1px solid #26b49e;
  background: #33c1ab;
  color: #fff;
  cursor: pointer;
  text-shadow: 0px 0px 1px #1d9b88;
}