.comment-item {
  background: #f5f5f5;
  list-style: none;
  border-bottom: 1px solid #eee;
  p {
    display: inline-block;
    padding: 0 20px;
    font-size: 16px;
    line-height: 60px;
    margin: 0;
  }
}